@charset "UTF-8";
/* CSS Document */

/*
DEMO 1
*/

.blue_button {
	background-color:#3bb3e0;
	padding:10px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	border: solid 1px #186f8f;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 16px;
}

.blue_button:active {
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	top:1px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
}

/* GREEN */

.green_button {
	background-color:#30d304;
	padding:5px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	border: solid 1px #186f8f;
	background-image: linear-gradient(bottom, rgb(122,202,44) 0%, rgb(156,229,62) 100%);
	background-image: -o-linear-gradient(bottom, rgb(122,202,44) 0%, rgb(156,229,62) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(122,202,44) 0%, rgb(156,229,62) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(122,202,44) 0%, rgb(156,229,62) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(122,202,44) 0%, rgb(156,229,62) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(122,202,44)),
	color-stop(1, rgb(156,229,62))
	);
	-webkit-box-shadow: inset 0px 1px 0px #bdf17f, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #bdf17f, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #bdf17f, 0px 1px 0px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.green_button:active {
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	top:1px;
	background-image: linear-gradient(bottom, rgb(156,229,62) 0%, rgb(122,202,44) 100%);
	background-image: -o-linear-gradient(bottom, rgb(156,229,62) 0%, rgb(122,202,44) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(156,229,62) 0%, rgb(122,202,44) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(156,229,62) 0%, rgb(122,202,44) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(156,229,62) 0%, rgb(122,202,44) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(156,229,62)),
	color-stop(1, rgb(122,202,44))
	);
}

/* Yellow */

.yellow_button {
	background-color:#30d304;
	width: 100%;
	height: 100%;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	border: solid 1px #fdc151;
	background-image: linear-gradient(bottom, rgb(253,193,81) 0%, rgb(252,227,127) 100%);
	background-image: -o-linear-gradient(bottom, rgb(253,193,81) 0%, rgb(252,227,127) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(253,193,81) 0%, rgb(252,227,127) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(253,193,81) 0%, rgb(252,227,127) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(253,193,81) 0%, rgb(252,227,127) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(253,193,81)),
	color-stop(1, rgb(252,227,127))
	);
	-webkit-box-shadow: inset 0px 1px 0px #bdf17f, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #bdf17f, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #bdf17f, 0px 1px 0px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.yellow_button:active {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(bottom, rgb(252,227,127) 0%, rgb(253,193,81) 100%);
	background-image: -o-linear-gradient(bottom, rgb(252,227,127) 0%, rgb(253,193,81) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(252,227,127) 0%, rgb(253,193,81) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(252,227,127) 0%, rgb(253,193,81) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(252,227,127) 0%, rgb(253,193,81) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(252,227,127)),
	color-stop(1, rgb(253,193,81))
	);
}